<!-- About Section -->
<section id="about" class="about">
    <div class="container text-center">
        <header>
            <h2>Về chúng tôi</h2>
            <h3>Niềm tin sức khỏe cho tương lai</h3>
        </header>
        <p class="lead">Nhật Cường Software có tiền thân từ một Trung tâm CNTT của Công ty Thương mại và Dịch vụ Kỹ thuật Nhật Cường (Nhat Cuong Mobile) từ năm 2011, sau những thành tựu to lớn với những sản phẩm đột phá cho TP. Hà Nội như: Cơ sở dữ liệu dân cư, phần mềm Lưu trú trực tuyến, phần mềm Hộ chiếu Online, đặc biệt là giải pháp Dịch vụ công trực tuyến liên thông 3 cấp... Công ty TNHH Giải pháp phần mềm Nhật Cường ra đời từ hoài bão của những chuyên gia giàu kinh nghiệm, nhiệt huyết trong lĩnh vực công nghệ thông tin, phần mềm quản trị doanh nghiệp, giải pháp mạng và tích hợp hệ thống, với mong muốn mang ứng dụng công nghệ thông tin phục vụ cộng đồng, phấn đấu trở thành một tổ chức giàu mạnh bằng chính nỗ lực lao động sáng tạo trong khoa học kỹ thuật và công nghệ của mình đồng thời mang lại dịch vụ tốt nhất làm hài lòng khách hàng và góp phần xây dựng lĩnh vực CNTT của quốc gia thêm phát triển.</p>
    </div>
</section>
<!-- End About Section -->